


.playlist-page-container{
  display: flex;
  flex-direction: row;
  height:100px;

}

 /* #playlist-container {
    width: 80%;
    margin-left:100px;
    
    padding: 20px;
    background-color: #2d2c2c;
    border: 1px solid #ddd;
    border-radius: 10px;
 /* }  */

#playlist-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playlist-item {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.playlist-item:last-child {
  border-bottom: none;
}

.playlist-item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.5px solid white;
  margin-right: 10px;
}

.playlist-item button {
  background-color: #4CAF50;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.playlist-item button:hover {
  background-color: #3e8e41;
}
.song-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 10px;
  font-style: italic;
}

.song-artist {
  font-size: 16px;
  color: #e55555;
}
.remove-song-button{
  border: 0.5px solid white;
  
  border-radius: 30px;
  background-color: green;
  color: black;
  position:relative;
}
li{
  list-style: none;
}
.song-box {
  display: flex;
  align-items: center;
  
  border-bottom: 1px solid #343333;
  background-color:transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  /* width:700px; */
  padding: 8px;

}



/* Media Queries */

/* Mobile Devices (max-width: 768px) */

@media only screen and (max-width: 768px) {
  .playlist-page-container {
  flex-direction: column;
  align-items: center;
  }
  
  #playlist-container {
  /* width: 90%; */
  margin-left: 20px;
  }
  
  .playlist-item {
  padding: 5px;
  }
  
  .playlist-item img {
  width: 20px;
  height: 20px;
  }
  
  .song-name {
  font-size: 16px;
  }
  
  .song-artist {
  font-size: 14px;
  }
  }
  
  /* Tablet Devices (max-width: 1024px) */
  
  @media only screen and (max-width: 1024px) {
  .playlist-page-container {
  flex-direction: column;
  align-items: center;
  }
  
  #playlist-container {
  /* width: 80%; */
  margin-left: 50px;
  }
  
  .playlist-item {
  padding: 10px;
  }
  
  .playlist-item img {
  width: 25px;
  height: 25px;
  }
  
  .song-name {
  font-size: 18px;
  }
  
  .song-artist {
  font-size: 16px;
  }
  }
  
  /* Desktop Devices (max-width: 1280px) */
  
  @media only screen and (max-width: 1280px) {
  .playlist-page-container {
  flex-direction: column;
  justify-content: space-between;
  }
  
  #playlist-container {
  /* width: 70%; */
  margin-left: 100px;
  }
  
  .playlist-item {
  padding: 15px;
  }
  
  .playlist-item img {
  width: 30px;
  height: 30px;
  }
  
  .song-name {
  font-size: 20px;
  }
  
  .song-artist {
  font-size: 18px;
  }
  }
